aside{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

div#list{
  display: flex;
  flex-direction: column;
}

div#illustration{
  display: block;
}

div.divider{
 width: 450px;
}
